@font-face {
    font-family: LoveloLineLight;
    src: url(../font/Lovelo%20Line%20Light.otf);
}

.container
{
    width: 1280px;
    height: 720px;
    position: absolute;
    top: 0;
}
.font
{
    font-size: 1280px;
}

*
{
    margin: 0;
    padding: 0;
    z-index: 0;
    cursor: default;
}
html,body
{
    width: 100%;
    height: 100%;
}
.page
{
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
}
.page_top
{
    top: -100%
}
.page_middle
{
    top:0;
}
.page_bottom
{
    top:100%;
}

.btn_up
{
    display: block;
    width: 4%;
    position:fixed;
    top: 2%;
    left: 48%;
    z-index: 10;
}
.btn_down
{
    display: block;
    width: 4%;
    position:fixed;
    top: 95%;
    left: 48%;
    z-index: 10;
}


/* page 1 */
.page_cover
{
    background: url("../img/bg1.jpg") no-repeat;
    background-size: cover;
}
.my_name
{
    display: block;
    color: #ddd;
    font-size: 10%;
    font-family: LoveloLineLight;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 25%;
    text-shadow:0 0 5px black;
}

/* page 2 */
.page_parallax
{
    overflow: hidden;
}
.parallax_window
{
    display: block;
    /*height: 20rem;
    width: 20rem;*/
    width: 18%;
    height: 32%;
    border-radius: 50%;
    position: absolute;
    top: 32%;
    left: 18%;
    overflow: hidden;
    box-shadow: 0 0 0.5rem #555;
}
.parallax_wrap
{
    display: block;
    height: 300%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.parallax_wrap div
{
    height: 33.33%;
    width: 100%;
    display: block;
}
.parallax_img1
{
    background: url("../img/leonard.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.parallax_img2
{
    background: url("../img/sheldon.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.parallax_img3
{
    background: url("../img/tonystark.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.parallax_background
{
    position: absolute;
    top: -200%;
    left: 0;
    display: block;
    width: 100%;
    height: 300%;
}
.pb1
{
    float: left;
    width: 100%;
    height: 33.33%;
    background: darkred;
}
.pb2
{
    float: left;
    width: 100%;
    height: 33.33%;
    background: mediumseagreen;
}
.pb3
{
    float: left;
    width: 100%;
    height: 33.33%;
    background: dodgerblue;
}
.parallax_btns
{
    display: block;
    height: 32%;
    width: 18%;
    position: absolute;
    top: 32%;
    left: 18%;
}
.parallax_btns div
{
    display: block;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 0.3rem #555;
}
.parallax_btn1
{
    top: 35%;
    right: -38%;
    background: deepskyblue;
}
.parallax_btn2
{
    left: 0;
    top: -30%;
    background: springgreen;
}
.parallax_btn3
{
    left: 0;
    bottom: -30%;
    background: #CC0000;
}

.iama
{
    display: block;
    color: white;
    font-size: 10%;
    position: absolute;
    top: 10%;
    left: 45%;
}
.parallax_text1
{
    color: white;
    font-size: 11%;
    position: absolute;
    right: -600%;
    top:-80%;
}
.parallax_text2
{
    color: white;
    font-size: 9%;
    position: absolute;
    left:-550%;
    top:-460%;
    -webkit-transform:rotate(-120deg);-moz-transform:rotate(-120deg);-ms-transform:rotate(-120deg);;-o-transform:rotate(-120deg);
}
.parallax_text3
{
    color: white;
    font-size: 11%;
    position: absolute;
    left:-320%;
    top:260%;
    -webkit-transform:rotate(120deg);-moz-transform:rotate(120deg);-ms-transform:rotate(120deg);;-o-transform:rotate(120deg);
}
.parallax_content
{
    display: block;
    width: 30%;
    height: auto;
    color: white;
    font-size: 4%;
    position: absolute;
    left: 150%;
    top:60%;
}
.parallax_content span
{
    display: block;
}


/* page 3 */