@font-face {
    font-family: LoveloLineLight;
    src: url(../font/Lovelo%20Line%20Light.otf);
}

*
{
    margin: 0;
    padding: 0;
    z-index: 0;
    cursor: default;
    text-decoration: none;
    list-style: none;
}
html,body
{
    width: 100%;
    height: 100%;
}
.page
{
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
}
.page_top
{
    top: -100%
}
.page_middle
{
    top:0;
}
.page_bottom
{
    top:100%;
}

.btn_up
{
    display: block;
    width: 4%;
    position:absolute;
    top: 2%;
    left: 95%;
    z-index: 10;
    box-shadow: 0 0 5px black;
}
.btn_down
{
    display: block;
    width: 4%;
    position:absolute;
    top: 95%;
    left: 95%;
    z-index: 10;
    box-shadow: 0 0 5px black;
}


/* page 1 cover */
.page_cover
{
    background: url("../img/bg1.jpg") no-repeat;
    background-size: cover;
}
.my_name
{
    display: block;
    color: #ddd;
    font-size: 2rem;
    font-family: LoveloLineLight;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 25%;
    text-shadow:0 0 0.1rem black;
}


/* page 2 parallax */
.page_parallax
{
    overflow: hidden;
}
.parallax_window
{
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    top: 3rem;
    left: 3rem;
    overflow: hidden;
    box-shadow: 0 0 0.1rem #555;
}
.parallax_wrap
{
    display: block;
    height: 300%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.parallax_wrap div
{
    height: 33.33%;
    width: 100%;
    display: block;
}
.parallax_img1
{
    background: url("../img/leonard.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.parallax_img2
{
    background: url("../img/sheldon.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.parallax_img3
{
    background: url("../img/tonystark.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.parallax_background
{
    position: absolute;
    top: -200%;
    left: 0;
    display: block;
    width: 100%;
    height: 300%;
}
.pb1
{
    float: left;
    width: 100%;
    height: 33.33%;
    background: darkred;
}
.pb2
{
    float: left;
    width: 100%;
    height: 33.33%;
    background: mediumseagreen;
}
.pb3
{
    float: left;
    width: 100%;
    height: 33.33%;
    background: dodgerblue;
}
.parallax_btns
{
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    top: 5rem;
    left: 5rem;
}
.parallax_btns div
{
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 0.1rem #555;
}
.parallax_btn1
{
    top: -0.5rem;
    right: -3.4rem;
    background: deepskyblue;
}
.parallax_btn2
{
    left: -2rem;
    top: -3rem;
    background: springgreen;
}
.parallax_btn3
{
    left: -2rem;
    bottom: -3rem;
    background: #CC0000;
}

.iama
{
    display: block;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    top: 10%;
    left: 45%;
}
.parallax_text1
{
    color: white;
    font-size: 2rem;
    position: absolute;
    right: -5.5rem;
    top:-1rem;
}
.parallax_text2
{
    color: white;
    font-size: 2rem;
    position: absolute;
    left:-6.5rem;
    top:-5rem;
    -webkit-transform:rotate(-120deg);-moz-transform:rotate(-120deg);-ms-transform:rotate(-120deg);;-o-transform:rotate(-120deg);
}
.parallax_text3
{
    color: white;
    font-size: 2rem;
    position: absolute;
    left:-2.8rem;
    top:2rem;
    -webkit-transform:rotate(120deg);-moz-transform:rotate(120deg);-ms-transform:rotate(120deg);;-o-transform:rotate(120deg);
}
.parallax_content
{
    display: block;
    width: 30%;
    height: auto;
    color: white;
    font-size: 0.6rem;
    position: absolute;
    left: 150%;
    top:60%;
}
.parallax_content span
{
    display: block;
}


/* page 3 device */
.page_device
{
    background:url("../img/bg_cloud.png") no-repeat;
    background-position-y: 6%;
    background-color: #C0DEED;
}
.device_nav
{
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 6.5%;
    background: white;
    box-shadow: 0 0 0.2rem grey;
    font-size: 0.3rem;
    line-height: 220%;
    z-index: 5;
}
.device_nav span
{
    display: block;
    width: 10%;
    position: absolute;
    left: 0;
    top: 0;
    color: dimgrey;
    text-align: right;
}
.device_btns
{
    display: block;
    width: 20%;
    height: 100%;
    position: absolute;
    left: 11%;
    top: 0;
    color: dimgrey;
    text-align: center;
}
.device_btn1
{
    display: block;
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    left: 0;
}
.device_btn1:hover
{
    color: blueviolet;
}
.device_btn2
{
    display: block;
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    left: 20%;
}
.device_btn2:hover
{
    color: lightseagreen;
}
.device_btn3
{
    display: block;
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    left: 40%;
}
.device_btn3:hover
{
    color: dodgerblue;
}
.device_btn_hover1
{
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 0;
    background: blueviolet;
    -webkit-transition: all linear 0.2s;-moz-transition: all linear 0.2s;-ms-transition: all linear 0.2s;-o-transition: all linear 0.2s;transition: all linear 0.2s;
}
.device_btn_hover2
{
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 0;
    background: lightseagreen;
    -webkit-transition: all linear 0.2s;-moz-transition: all linear 0.2s;-ms-transition: all linear 0.2s;-o-transition: all linear 0.2s;transition: all linear 0.2s;
}
.device_btn_hover3
{
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 0;
    background: dodgerblue;
    -webkit-transition: all linear 0.2s;-moz-transition: all linear 0.2s;-ms-transition: all linear 0.2s;-o-transition: all linear 0.2s;transition: all linear 0.2s;
}
.device_btn_hovered
{
    height:10%;
}
.device_btn_clicked
{
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 10%;
    background: dimgrey;
}

.device
{
    width: 54%;
    height: 96%;
    position: absolute;
    top:0;
    right: 10%;
}
.device_mainpart
{
    position: absolute;
    border-radius: 5%;
    overflow: hidden;
    -webkit-transition: all linear 0.5s;-moz-transition: all linear 0.5s;-ms-transition: all linear 0.5s;-o-transition: all linear 0.5s;transition: all linear 0.5s;
}
.device_screenpart
{
    position: absolute;
    overflow: hidden;
    -webkit-transition: all linear 0.5s;-moz-transition: all linear 0.5s;-ms-transition: all linear 0.5s;-o-transition: all linear 0.5s;transition: all linear 0.5s;
}
.device_reflect
{
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    height: 0;
    border-left:1.9rem solid rgba(255,255,255,0.2);
    border-right: 1.9rem solid transparent;
    border-top: 1.9rem solid rgba(255,255,255,0.2);
    border-bottom: 1.9rem solid transparent;
    z-index: 5;
}
.device_buttonpart
{
    border-radius: 50%;
    position: absolute;
    left: 47%;
    bottom:2%;
    -webkit-transition: all linear 0.5s;-moz-transition: all linear 0.5s;-ms-transition: all linear 0.5s;-o-transition: all linear 0.5s;transition: all linear 0.5s;
}
.device_connectpart
{
    position: absolute;
    -webkit-transition: all linear 0.5s;-moz-transition: all linear 0.5s;-ms-transition: all linear 0.5s;-o-transition: all linear 0.5s;transition: all linear 0.5s;
}
.device_bottompart
{
    position: absolute;
    -webkit-transition: all linear 0.5s;-moz-transition: all linear 0.5s;-ms-transition: all linear 0.5s;-o-transition: all linear 0.5s;transition: all linear 0.5s;
}
.desktop
{}
.desktop .device_mainpart
{
    width: 60%;
    height: 45%;
    left: 20%;
    top: 20%;
    background:#444;
    z-index: 2;
}
.desktop .device_screenpart
{
    width: 86%;
    height: 80%;
    top: 10%;
    left: 7%;
}
.desktop .device_buttonpart
{
    width: 0;
    height: 0;
}
.desktop .device_connectpart
{
    width: 10%;
    height: 5%;
    left: 45%;
    top: 65%;
    background: darkgrey;
}
.desktop .device_bottompart
{
    width: 30%;
    height: 4%;
    left: 35%;
    top: 70%;
    background: darkgrey;
    box-shadow: 0.01rem 0 0.02rem grey;
}
.laptop
{}
.laptop .device_mainpart
{
    width: 58%;
    height: 40%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    left: 21%;
    top: 30%;
    background: black;
    box-shadow: 0 0 0.05rem white;
}
.laptop .device_screenpart
{
    width: 86%;
    height: 80%;
    top: 10%;
    left: 7%;
}
.laptop .device_buttonpart
{
    width: 0;
    height: 0;
}
.laptop .device_connectpart
{
    width: 10%;
    height: 0%;
    left: 45%;
    top: 70%;
    background: #bbb;
}
.laptop .device_bottompart
{
    width: 64%;
    height: 3%;
    border-radius: 10%;
    left: 18%;
    top: 70%;
    background: darkgrey;
}
.tablet
{}
.tablet .device_mainpart
{
    width: 40%;
    height: 52%;
    left: 30%;
    top: 23%;
    background: white;
    box-shadow: 0 0 0.05rem grey;
}
.tablet .device_screenpart
{
    width: 80%;
    height: 82%;
    top: 9%;
    left: 10%;
}
.tablet .device_buttonpart
{
    width: 0.25rem;
    height: 0.25rem;
    background: white;
    box-shadow: inset 0 0 0.05rem #ccc;
}
.tablet .device_connectpart
{
    width: 0%;
    height: 0%;
    left: 50%;
    top: 75%;
    background: #bbb;
}
.tablet .device_bottompart
{
    width: 0%;
    height: 0%;
    left: 50%;
    top: 75%;
    background: #aaa;
}

.device_display1
{
    display: block;
    width: 100%;
    height: 100%;
    background: url("../img/bg_desktop.jpg");
    background-position: left;
    background-size: cover;
}

.device_display2
{
    display: none;
    width: 100%;
    height: 100%;
    background: url("../img/bg_laptop.jpg");
    background-position: center;
    background-size: cover;
}
.device_display3
{
    display: none;
    width: 100%;
    height: 100%;
    background: url("../img/bg_tablet.jpg");
    background-position: center;
    background-size: cover;
}


.device_cards
{
    display: none;
    width: 25%;
    height: 50%;
    border-radius: 1%;
    box-shadow: 0 0 3px lightgrey;
    position: absolute;
    left: 18%;
    top: 22%;
    font-size: 0.5rem;
    word-wrap: break-word;
}
.device_card1
{
    background: rgba(173,81,226,0.4);
}
.device_card2
{
    background: rgba(72,178,170,0.4);
}
.device_card3
{
    background: rgba(100,180,255,0.4);
}


/* page 3 */