@font-face {
    font-family: LoveloLineLight;
    src: url(../font/Lovelo%20Line%20Light.otf);
}

*
{
    margin: 0;
    padding: 0;
    z-index: 0;
    cursor: default;
    text-decoration: none;
    list-style: none;
}
html,body
{
    width: 100%;
    height: 100%;
}
.page
{
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
}
.page_top
{
    top: -100%
}
.page_middle
{
    top:0;
}
.page_bottom
{
    top:100%;
}

.btn_up
{
    display: block;
    width: 4%;
    position:fixed;
    top: 2%;
    left: 95%;
    z-index: 10;
    box-shadow: 0 0 5px black;
}
.btn_down
{
    display: block;
    width: 4%;
    position:fixed;
    top: 95%;
    left: 95%;
    z-index: 10;
    box-shadow: 0 0 5px black;
}


/* page 1 cover */
.page_cover
{
    background: url("../img/bg1.jpg") no-repeat;
    background-size: cover;
}
.my_name
{
    display: block;
    color: #ddd;
    font-size: 10%;
    font-family: LoveloLineLight;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 25%;
    text-shadow:0 0 5px black;
}


/* page 2 parallax */
.page_parallax
{
    overflow: hidden;
}
.parallax_window
{
    display: block;
    /*height: 20rem;
    width: 20rem;*/
    width: 18%;
    height: 32%;
    border-radius: 50%;
    position: absolute;
    top: 32%;
    left: 18%;
    overflow: hidden;
    box-shadow: 0 0 0.5rem #555;
}
.parallax_wrap
{
    display: block;
    height: 300%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.parallax_wrap div
{
    height: 33.33%;
    width: 100%;
    display: block;
}
.parallax_img1
{
    background: url("../img/leonard.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.parallax_img2
{
    background: url("../img/sheldon.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.parallax_img3
{
    background: url("../img/tonystark.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}
.parallax_background
{
    position: absolute;
    top: -200%;
    left: 0;
    display: block;
    width: 100%;
    height: 300%;
}
.pb1
{
    float: left;
    width: 100%;
    height: 33.33%;
    background: darkred;
}
.pb2
{
    float: left;
    width: 100%;
    height: 33.33%;
    background: mediumseagreen;
}
.pb3
{
    float: left;
    width: 100%;
    height: 33.33%;
    background: dodgerblue;
}
.parallax_btns
{
    display: block;
    height: 32%;
    width: 18%;
    position: absolute;
    top: 32%;
    left: 18%;
}
.parallax_btns div
{
    display: block;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 0.3rem #555;
}
.parallax_btn1
{
    top: 35%;
    right: -38%;
    background: deepskyblue;
}
.parallax_btn2
{
    left: 0;
    top: -30%;
    background: springgreen;
}
.parallax_btn3
{
    left: 0;
    bottom: -30%;
    background: #CC0000;
}

.iama
{
    display: block;
    color: white;
    font-size: 10%;
    position: absolute;
    top: 10%;
    left: 45%;
}
.parallax_text1
{
    color: white;
    font-size: 11%;
    position: absolute;
    right: -600%;
    top:-80%;
}
.parallax_text2
{
    color: white;
    font-size: 9%;
    position: absolute;
    left:-550%;
    top:-460%;
    -webkit-transform:rotate(-120deg);-moz-transform:rotate(-120deg);-ms-transform:rotate(-120deg);;-o-transform:rotate(-120deg);
}
.parallax_text3
{
    color: white;
    font-size: 11%;
    position: absolute;
    left:-320%;
    top:260%;
    -webkit-transform:rotate(120deg);-moz-transform:rotate(120deg);-ms-transform:rotate(120deg);;-o-transform:rotate(120deg);
}
.parallax_content
{
    display: block;
    width: 30%;
    height: auto;
    color: white;
    font-size: 4%;
    position: absolute;
    left: 150%;
    top:60%;
}
.parallax_content span
{
    display: block;
}


/* page 3 device */
.page_device
{
    background:url("../img/bg_cloud.png") no-repeat;
    background-position-y: 6%;
    background-color: #C0DEED;
}
.device_nav
{
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 6.5%;
    background: white;
    box-shadow: 0 0 5px grey;
    font-size: 1.7%;
    line-height: 220%;
    z-index: 5;
}
.device_nav span
{
    display: block;
    width: 27.5%;
    position: absolute;
    left: 0;
    top: 0;
    color: dimgrey;
    text-align: right;
}
.device_btns
{
    display: block;
    width: 20%;
    height: 100%;
    position: absolute;
    left: 28%;
    top: 0;
    color: dimgrey;
    text-align: center;
}
.device_btn1
{
    display: block;
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    left: 0;
}
.device_btn1:hover
{
    color: blueviolet;
}
.device_btn2
{
    display: block;
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    left: 20%;
}
.device_btn2:hover
{
    color: seagreen;
}
.device_btn3
{
    display: block;
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    left: 40%;
}
.device_btn3:hover
{
    color: dodgerblue;
}
.device_btn_hover1
{
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 0;
    background: blueviolet;
    -webkit-transition: all linear 0.2s;-moz-transition: all linear 0.2s;-ms-transition: all linear 0.2s;-o-transition: all linear 0.2s;transition: all linear 0.2s;
}
.device_btn_hover2
{
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 0;
    background: lightseagreen;
    -webkit-transition: all linear 0.2s;-moz-transition: all linear 0.2s;-ms-transition: all linear 0.2s;-o-transition: all linear 0.2s;transition: all linear 0.2s;
}
.device_btn_hover3
{
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 0;
    background: dodgerblue;
    -webkit-transition: all linear 0.2s;-moz-transition: all linear 0.2s;-ms-transition: all linear 0.2s;-o-transition: all linear 0.2s;transition: all linear 0.2s;
}
.device_btn_hovered
{
    height:10%;
}
.device_btn_clicked
{
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 10%;
    background: dimgrey;
}

.device
{
    width: 54%;
    height: 96%;
    position: absolute;
    top:0;
    right: 10%;
}
.device_mainpart
{
    position: absolute;
    border-radius: 5%;
    -webkit-transition: all linear 0.5s;-moz-transition: all linear 0.5s;-ms-transition: all linear 0.5s;-o-transition: all linear 0.5s;transition: all linear 0.5s;
}
.device_screenpart
{
    position: absolute;
    overflow: hidden;
    -webkit-transition: all linear 0.5s;-moz-transition: all linear 0.5s;-ms-transition: all linear 0.5s;-o-transition: all linear 0.5s;transition: all linear 0.5s;
}
.device_buttonpart
{
    border-radius: 50%;
    position: absolute;
    left: 47%;
    bottom:2%;
    -webkit-transition: all linear 0.5s;-moz-transition: all linear 0.5s;-ms-transition: all linear 0.5s;-o-transition: all linear 0.5s;transition: all linear 0.5s;
}
.device_connectpart
{
    position: absolute;
    -webkit-transition: all linear 0.5s;-moz-transition: all linear 0.5s;-ms-transition: all linear 0.5s;-o-transition: all linear 0.5s;transition: all linear 0.5s;
}
.device_bottompart
{
    position: absolute;
    -webkit-transition: all linear 0.5s;-moz-transition: all linear 0.5s;-ms-transition: all linear 0.5s;-o-transition: all linear 0.5s;transition: all linear 0.5s;
}
.desktop
{}
.desktop .device_mainpart
{
    width: 60%;
    height: 45%;
    left: 20%;
    top: 20%;
    background:grey;
    box-shadow: 0 0 3px grey;
}
.desktop .device_screenpart
{
    width: 86%;
    height: 80%;
    top: 10%;
    left: 7%;
    box-shadow:inset 0 0 3px grey;
}
.desktop .device_buttonpart
{
    width: 0;
    height: 0;
}
.desktop .device_connectpart
{
    width: 10%;
    height: 5%;
    left: 45%;
    top: 65%;
    background: darkgrey;
    box-shadow: 0 0 3px grey;
}
.desktop .device_bottompart
{
    width: 30%;
    height: 4%;
    left: 35%;
    top: 70%;
    background: darkgrey;
    box-shadow: 0 0 3px grey;
}
.laptop
{}
.laptop .device_mainpart
{
    width: 56%;
    height: 40%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    left: 22%;
    top: 30%;
    background: black;
    box-shadow: 0 0 3px grey;
}
.laptop .device_screenpart
{
    width: 86%;
    height: 80%;
    top: 10%;
    left: 7%;
    box-shadow: inset 0 0 3px grey;
}
.laptop .device_buttonpart
{
    width: 0;
    height: 0;
}
.laptop .device_connectpart
{
    width: 10%;
    height: 0%;
    left: 45%;
    top: 70%;
    background: #bbb;
}
.laptop .device_bottompart
{
    width: 64%;
    height: 3%;
    border-radius: 10%;
    left: 18%;
    top: 70%;
    background: darkgrey;
}
.tablet
{}
.tablet .device_mainpart
{
    width: 40%;
    height: 52%;
    left: 30%;
    top: 23%;
    background: white;
    box-shadow: 0 0 3px grey;
}
.tablet .device_screenpart
{
    width: 86%;
    height: 80%;
    top: 10%;
    left: 7%;
    box-shadow: inset 0 0 3px grey;
}
.tablet .device_buttonpart
{
    width: 8%;
    height: 6%;
    background: #ccc;
}
.tablet .device_connectpart
{
    width: 0%;
    height: 0%;
    left: 50%;
    top: 75%;
    background: #bbb;
}
.tablet .device_bottompart
{
    width: 0%;
    height: 0%;
    left: 50%;
    top: 75%;
    background: #aaa;
}

/* win8.1 */
.device_display1
{
    display: block;
    width: 100%;
    height:100%;
    background: #4A1092;
    font-size: 4%;
}
.device_display1 table
{
    width: 80%;
    height: 60%;
    position: absolute;
    left: 10%;
    top: 25%;
    border-collapse: collapse;
}
.device_display1 td
{
    border: 1px solid rgba(0,0,0,0);
}

/* mac */
.device_display2
{
    display: none;
    width: 100%;
    height:100%;
    background: dimgrey;
    font-size: 4%;
}
.device_display2 ul
{
    position: absolute;
    left: 23%;
    bottom: 0;
    display: block;
    width: 54%;
    height: 6%;
    background: #669;
}
.device_display2 li
{
    display: block;
    width: 7%;
    height: 95%;
    border-radius: 50%;
    background: white;
    position: absolute;
    bottom:40%;
}
/* pad */
.device_display3
{
    display: none;
    width: 100%;
    height:100%;
    background: url("../img/bg_tablet.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 4%;
    box-shadow: inset 0 0 5px grey;
}
.device_display3 ul
{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.device_display3 li
{
    display: block;
    width: 12%;
    height: 10%;
    border-radius: 30%;
    position: absolute;
    background: white;
}

.device_cards
{
    display: none;
    width: 25%;
    height: 50%;
    border-radius: 1%;
    box-shadow: 0 0 3px lightgrey;
    position: absolute;
    left: 18%;
    top: 22%;
    font-size: 3%;
    word-wrap: break-word;
}
.device_card1
{
    background: deepskyblue;
}
.device_card2
{
    background: palevioletred;
}
.device_card3
{
    background: lightgreen;
}


/* page 3 */